[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
appnope = "==0.1.0"
asgiref = "==3.2.3"
attrs = "==19.1.0"
backcall = "==0.1.0"
bleach = "==3.1.0"
boto = "==2.49.0"
boto3 = "==1.9.235"
botocore = "==1.12.235"
certifi = "==2019.9.11"
chardet = "==3.0.4"
decorator = "==4.4.0"
defusedxml = "==0.6.0"
dj-database-url = "==0.5.0"
dj-static = "==0.0.6"
django-bootstrap = "==0.2.4"
django-bootstrap4 = "==0.0.8"
django-heroku = "==0.3.1"
django-mathfilters = "==0.4.0"
django-toolbelt = "==0.0.1"
docutils = "==0.15.2"
entrypoints = "==0.3"
gensim = "==3.8.0"
gunicorn = "==20.0.4"
idna = "==2.8"
ipykernel = "==5.1.2"
ipython = "==7.8.0"
ipywidgets = "==7.5.1"
jedi = "==0.15.1"
jmespath = "==0.9.4"
joblib = "==0.13.2"
jsonschema = "==3.0.2"
jupyter = "==1.0.0"
jupyter-client = "==5.3.3"
jupyter-core = "==4.5.0"
kiwisolver = "==1.1.0"
matplotlib = "==3.1.0"
mistune = "==0.8.4"
nbconvert = "==5.6.0"
nbformat = "==4.4.0"
nltk = "==3.4.5"
notebook = "==6.0.1"
numpy = "==1.16.4"
opencv-python = "==4.1.1.26"
pandas = "==0.24.2"
pandocfilters = "==1.4.2"
parso = "==0.5.1"
pexpect = "==4.7.0"
pickleshare = "==0.7.5"
prompt-toolkit = "==2.0.9"
psycopg2 = "==2.8.4"
ptyprocess = "==0.6.0"
pyparsing = "==2.4.0"
pyrsistent = "==0.15.4"
python-dateutil = "==2.8.0"
pytz = "==2019.1"
pyzmq = "==18.1.0"
qtconsole = "==4.5.5"
requests = "==2.22.0"
s3transfer = "==0.2.1"
scikit-learn = "==0.21.2"
scipy = "==1.3.0"
six = "==1.12.0"
smart-open = "==1.8.4"
sqlparse = "==0.3.0"
static3 = "==0.7.0"
terminado = "==0.8.2"
testpath = "==0.4.2"
tornado = "==6.0.3"
traitlets = "==4.3.2"
urllib3 = "==1.25.6"
wcwidth = "==0.1.7"
webencodings = "==0.5.1"
whitenoise = "==4.1.4"
widgetsnbextension = "==3.5.1"
xgboost = "==0.90"
Cycler = "==0.10.0"
Django = "==3.0"
ipython_genutils = "==0.2.0"
Jinja2 = "==2.10.1"
jupyter_console = "==6.0.0"
MarkupSafe = "==1.1.1"
prometheus_client = "==0.7.1"
Pygments = "==2.4.2"
Send2Trash = "==1.5.0"
astroid = "==2.2.5"
beautifulsoup4 = "==4.8.0"
chainer = "==6.1.0"
filelock = "==3.0.12"
isort = "==4.3.21"
lazy-object-proxy = "==1.4.1"
mccabe = "==0.6.1"
pipenv = "==2018.11.26"
protobuf = "==3.7.1"
pydotplus = "==2.0.2"
pylint = "==2.3.1"
pytho = "==0.0.1"
selenium = "==3.141.0"
sklearn = "==0.0"
soupsieve = "==1.9.4"
typed-ast = "==1.4.0"
typing = "==3.6.6"
typing-extensions = "==3.6.6"
virtualenv = "==16.7.8"
virtualenv-clone = "==0.5.3"
wrapt = "==1.11.2"
Pillow = "==6.1.0"

[requires]
python_version = "3.7"
