{% extends "base.html" %}
{% load bootstrap4 %}
{% load staticfiles %}

{% block title %}ログイン{% endblock title %}

{% block content %}
    {% if user.is_authenticated %}
        <script type="text/javascript">
            window.location.href = '/';
        </script>
    {% else %}
        <div class='row col-12 pt-3 px-5'>
            <h1>ログイン</h1>
            {% if next %}
            <p>ログインしてください。入会は<a href="/accounts/register">こちら</a></p>
            {% endif %}
        </div>
        <div class='row col-12 pt-3 px-5'>
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                {% bootstrap_form form layout='horizontal' %}
                <input type="hidden" name="next" value="{{ next }}"/>
                <div class="form-group row">
                    <div class="offset-md-3 col-md-9">
                    <button type="submit" class="btn btn-primary">ログイン</button>
                    </div>
                </div>
            </form>
        </div>
    {% endif %}
{% endblock content %}
