{% extends "base.html" %}
{% load mathfilters %}

{% block title %}お店の一覧{% endblock title %}

{% block content %}
<div class="col-md-12 col-sm-12">
    <h4 class="mt-4 border-bottom">お店一覧</h4>
    <div class='row'>
     {% comment %} <a class ='btn btn-info text-white lead' href="{% url 'iekari:rest_api' rest_id='A00001' %}">api内容確認用</a> {% endcomment %}
        {% for rest in rests %}
        <div class ='col-lg-4 col-md-6 col-sm-12 my-2'>
           
            <div class='row mx-2'>
            
                
                <div class ="card restaur w-100">
                
                    <a class ='card-header text-dark lead' href="{% url 'iekari:rest_detail' rest_id=rest.id %}">
                        {{ rest.name }}
                    </a>
                    <div class="card-main p-2">
                        <h3 class="font1">
                            {{ rest.score|floatformat:2 }}
                        </h3>
                        <p class='card-text'>
                            <p class = "lead">{{ rest.station }}</p>
                            {% if rest.genle2 != '0' and rest.genle3 != '0' %}
                                {{ rest.genle }}, {{ rest.genle2 }}, {{ rest.genle3 }}
                            {% elif rest.genle2 != '0' %}
                                {{ rest.genle }}, {{ rest.genle2 }}
                            {% else %}
                                {{ rest.genle }}
                            {% endif %}
                        </p>
                        <p class='card-text fon'>
                            {% if rest.price_lunch == 0 %}
                                🌞: (営業時間外)
                            {% else %}
                                🌞: {{ rest.price_lunch|sub:1|mul:1000}}~{{rest.price_lunch|mul:1000|sub:1}}円
                            {% endif %}
                        </p>
                        <p class='card-text'>
                            {% if rest.price_dinner == 0 %}
                                🌛: (営業時間外)
                            {% else %}
                                🌛: {{ rest.price_dinner|sub:1|mul:1000}}~{{rest.price_dinner|mul:1000|sub:1}}円
                            {% endif %}
                        </p> 
                    </div>
                </div>
            </div>
        </div>  
        {% endfor %} 
           

    </div>
                        
    
</div>
{% endblock %}


