

{% extends "base.html" %}
{% block content %}
{% load static %}



<div class="header-bottom container-fluid">
    <div class="row">
        <a class="station" href="{% url 'iekari:rest_func' first_id=1000 %}" >駒場東大前</a>
        <a class="station" href="{% url 'iekari:rest_func' first_id=1001 %}" >神泉</a>
        <a class="station" href="{% url 'iekari:rest_func' first_id=1002 %}" >渋谷</a>
        <a class="station" href="{% url 'iekari:rest_func' first_id=1003 %}">下北沢</a>
        <a class="station" href="{% url 'iekari:rest_func' first_id=1004 %}">吉祥寺</a>
    </div>
</div>

<div class="container container-fluid ">
    <div class="row my-3 ">
        <div class="container col-lg-4 col-sm-12">
            <div class="row">
                <div class="entry mx-lg-3 mx-md-2">
                    <div class="title2 font1">UTLOG</div>
                    <p class="tpp">東大生による、東大生のための、東大生の口コミ</p>
                    <button class="btn sub col-12" onclick="location.href='/accounts/login'">ログイン</button>
                    <p class="detail">ログインすると、UTLOG上でお店の口コミを投稿したり、未登録の飲食店の追加申請ができます。</p>
                    <button class="btn sub col-12" onclick="location.href='/accounts/register'">会員登録</button>
                    <p class="detail">会員登録はこちらから。東京大学の学生のみ会員登録可能です。※大学のメールアドレス(@g.ecc.u-tokyo.ac.jp)による認証を行います。</p>

                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-12" >
            <div class="row">
                <a class="category col-md-6 col-sm-12 my-2 mx-1 good" href="{% url 'iekari:rest_func' first_id=1 %}">
                    <img src="static/img/curry.png"class="icon">
                    <p class="icon-logo">カレー</p>
                </a>
                <a class="category col-md-5  col-sm-12 my-2 mx-1 good" href="{% url 'iekari:rest_func' first_id=2 %}">
                    <img src="static/img/ramen.png" class="icon">
                    <p class="icon-logo">ラーメン
                    </p>
                </a>
                <a class="category col-md-5 col-sm-12 my-2 mx-1 good" href="{% url 'iekari:rest_func' first_id=3 %}">
                    <img src="static/img/teisyoku.png " class="icon">
                    <p class="icon-logo">定食</p>
                </a>
                <a class="category col-md-6 col-sm-12 my-2 mx-1 good" href="{% url 'iekari:rest_func' first_id=4 %}">
                    <img src="static/img/gyouza.png" class="icon">
                    <p class="icon-logo">餃子</p>
                </a>
                <a class="category col-md-6  col-sm-12 my-2 mx-1 good" href="{% url 'iekari:rest_func' first_id=5 %}">
                    <img src="static/img/cafe.png " class="icon">
                    <p class="icon-logo">カフェ</p>
                </a>
                <a class="category col-md-5 col-sm-12 my-2 mx-1 good" href="{% url 'iekari:rest_func' first_id=6 %}">
                    <img src="static/img/china.png" class="icon">
                    <p class="icon-logo">中華全般</p>
                </a>
                <a class="category col-md-5 col-sm-12 my-2 mx-1 good" href="{% url 'iekari:rest_func' first_id=7 %}">
                    <img src="static/img/izakaya.png" class="icon photo">
                    <p class="icon-logo">居酒屋</p>
                </a>
                <a class="category col-md-6 col-sm-12 my-2 mx-1 good" href="{% url 'iekari:rest_func' first_id=1 %}">
                    <img src="static/img/italian.png " class="icon">
                    <p class="icon-logo">イタリアン</p>
                </a>
            </div>


        </div>

        
        
    </div>
</div>


<div class="container-fluid m-2">
    <div class="row">
        <div class="show-result">
        </div>
    </div>

    
</div>
<div class="clear">
</div>

{% endblock content %}



{% comment %} {% extends "base.html" %}
{% load staticfiles %}
{% block title %}東大生の飲食店探し{% endblock title %}
{% block content %}


<!-- Page Content -->


<div class="row">
    <div class="col-lg-12  ">

        <h2 class="my-4  mx-auto text-center">UTLOG</h2>
        <h5 class="mb-4 mx-auto text-center" >東大生による、東大生のための、東大生の口コミ</h5>
            <div class="card ">
                <div class="card-body">
                    <button type="button" class="btn btn-info w-100 mb-2 " onclick="location.href='/accounts/login'">
                        ログイン  
                    </button>
                    <p>ログインすると、UTLOG上でお店の口コミを投稿したり、未登録の飲食店の追加申請ができます。</p>　　
                    <button type="button" class="btn btn-info w-100 mb-2" onclick="location.href='/accounts/register'"　>
                            会員登録   
                    </button>
                    <p>会員登録はこちらから。東京大学の学生のみ会員登録可能です。※大学のメールアドレス（~@g.ecc.u-tokyo.ac.jp)による認証を行います。</p>
                </div>
                
            </div>
        </div>

    </div>
    <div class="col-12 py-3">
        

        <h4>
            <center>エリアから探す</center>
        </h4>
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4 ">
                <a class="btn btn-warning btn-lg btn-block" href="{% url 'iekari:rest_func' first_id=1000 %}" role="button">駒場東大前</a>  
            </div>
            <div class="col-lg-4 col-md-6 mb-4 ">
                <a class="btn btn-warning btn-lg btn-block" href="{% url 'iekari:rest_func' first_id=1001 %}" role="button">神泉</a>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <a class="btn btn-warning btn-lg btn-block" href="{% url 'iekari:rest_func' first_id=1002 %}" role="button">渋谷</a>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <a class="btn btn-warning btn-lg btn-block" href="{% url 'iekari:rest_func' first_id=1003 %}" role="button">下北沢</a>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <a class="btn btn-warning btn-lg btn-block" href="{% url 'iekari:rest_func' first_id=1004 %}" role="button">吉祥寺</a>
            </div>
        </div>
    </div>
    <div class="col-12 py-3">

        <h4>
            <center>ジャンルから探す</center>
        </h4>
        <div class="row">
            <div class="col-lg-4 col-md-3 mb-4">
                <a class="card " href="{% url 'iekari:rest_func' first_id=1 %}">
                    <img class ="card-img"src="static/iekari/img/curry.png " style="height:100;" >
                    <div class="card-img-overlay">
                        <h4 class="card-title text-center text-light">カレー
                        </h4>
                        
                    </div>
                    
                </a>
            </div>
            <div class="col-lg-4 col-md-3 mb-4">
                <a class="card " href="{% url 'iekari:rest_func' first_id=2 %}">
                    <img class ="card-img"src="static/iekari/img/ramen.png " style="height:100;" >
                    <div class="card-img-overlay">
                        <h4 class="card-title text-center text-light">ラーメン
                        </h4>
                        
                    </div>
                    
                </a>
            </div>
            <div class="col-lg-4 col-md-3 mb-4">
                <a class="card " href="{% url 'iekari:rest_func' first_id=3 %}">
                    <img class ="card-img"src="static/iekari/img/teisyoku.png " style="height:100;" >
                    <div class="card-img-overlay">
                        <h4 class="card-title text-center text-light">定食
                        
                    </div>
                    
                </a>
            </div>

            <div class="col-lg-4 col-md-3 mb-4">
                <a class="card " href="{% url 'iekari:rest_func' first_id=4 %}">
                    <img class ="card-img"src="static/iekari/img/gyouza.png " style="height:100;" >
                    <div class="card-img-overlay">
                        <h4 class="card-title text-center text-dark">餃子
                        </h4>
                        
                    </div>
                    
                </a>
            </div>
            <div class="col-lg-4 col-md-3 mb-4">
                <a class="card " href="{% url 'iekari:rest_func' first_id=5 %}">
                    <img class ="card-img"src="static/iekari/img/cafe.png " style="height:100;" >
                    <div class="card-img-overlay">
                        <h4 class="card-title text-center text-light">カフェ
                        </h4>
                        
                    </div>
                    
                </a>
            </div>
            <div class="col-lg-4 col-md-3 mb-4">
                <a class="card " href="{% url 'iekari:rest_func' first_id=6 %}">
                    <img class ="card-img"src="static/iekari/img/china.png " style="height:100;" >
                    <div class="card-img-overlay">
                        <h4 class="card-title text-center text-dark">中華全般
                        </h4>
                        
                    </div>
                    
                </a>
            </div>
            <div class="col-lg-4 col-md-3 mb-4">
                <a class="card " href="{% url 'iekari:rest_func' first_id=7 %}">
                    <img class ="card-img"src="static/iekari/img/izakaya.png " style="height:100;" >
                    <div class="card-img-overlay">
                        <h4 class="card-title text-center text-dark">居酒屋
                        </h4>
                        
                    </div>
                    
                </a>
            </div>
            <div class="col-lg-4 col-md-3 mb-4">
                <a class="card " href="{% url 'iekari:rest_func' first_id=1 %}">
                    <img class ="card-img"src="static/iekari/img/italian.png " style="height:100;" >
                    <div class="card-img-overlay">
                        <h4 class="card-title text-center text-light">イタリアン
                        </h4>
                        
                    </div>
                    
                </a>
            </div>
        </div>
        <!-- /.row -->

    </div>


    <!-- /.col-lg-9 -->
    

    <!-- /.col-lg-3 -->
        

</div>
<!-- /.row -->
{% endblock content %} {% endcomment %}
